{% extends '_base.html' %}
{% load static %}
{% block title %}About page{% endblock %}

{% block content %}
<main class="main-centered">
    <h1>About Ellie May</h1>
    <img id="about-ellie" src="{% static 'images/ellie-goofy.jpg' %}" alt="Avatar">
    <h3>Age: 11</h3>
    <h4>Favorite Color: <span class="fav-color">Pink</span> or <span class="fav-color">Blue</span></h4>
    <h4>Favorite Sport: Frisbee</h4>
    <h4>favorite Food: French Fries</h4>
    <p>Ellie has as much energy as her pet Brendon. If she can't be found swimming in her personal pool or sleeping. She can usually be found doing flips with her frisbee </p>

</main>

{% endblock content %}