{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<main>
    <h1>Aout Ellie May</h1>
    <h3>Age: 11</h3>
    <h4>Favorite Color: <span class="fav-color">Pink</span> or <span class="fav-color">Blue</span></h4>
    <h4>Favorite Sport: Frisbee</h4>
    <h4>favorite Food: French Fries</h4>
    <p>Ellie has as much energy as her pet Brendon. If she can't be found swimming in her personal pool or sleeping. She can usually be found doing flips with her frisbee </p>

</main>

{% endblock content %}