{% extends '_base.html' %}
{% load static %}
{% block content %}
        <main class="main-centered">
          <img class="facts-ellie" src="{% static 'images/Ellie.png' %}" alt="Avatar">
        {% if user.is_authenticated %}
          <ul>
            {% for fact in facts_objects %}
              <li>
                  <a href="{% url 'fact_detail' fact.pk %}">{{ fact.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
        <h3>Please login to see all the cool ellie facts!!!</h3>
        {% endif %}
        </main>


{%  endblock content %}

