{% extends '_base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ellie May Home</title>
</head>
<body>
    {% block content %}
        <main class="main-centered">
            <img class="facts-ellie" src="{% static 'images/Ellie.png' %}" alt="Avatar">
            <img class="facts-ellie" src="{% static 'images/ellie-pup.jpg' %}" alt="Avatar">
        </main>
    {% endblock content %}


</body>
</html>